<a href="https://colab.research.google.com/github/ddrraaccaarriiss/Cramer/blob/master/lection_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Типы данных: Списки (List)

**Список** 

Для работы с наборами данных Python предоставляет такие встроенные типы как списки, кортежи и словари. 

Список (list) представляет тип данных, который хранит набор или последовательность элементов. 

Свойства списков:

1.   Упорядоченность
2.   Изменяемость

Для создания списка в квадратных скобках ([]) через запятую перечисляются все его элементы. Во многих языках программирования есть аналогичная структура данных, которая называется массив. Например, определим список чисел:

In [ ]:
numbers = [1, 2, 3, 4, 5]
type(numbers)

list

In [ ]:
# Создание пустого списка
empty_list1 = []
empty_list2 = list()

**Индексация и срезы (indexing & slices)**

Для обращения к элементам списка надо использовать индексы, которые представляют номер элемента в списке. Индексы начинаются с нуля. То есть второй элемент будет иметь индекс 1. Для обращения к элементам с конца можно использовать отрицательные индексы, начиная с -1. То есть у последнего элемента будет индекс -1, у предпоследнего - -2 и так далее.

In [ ]:
numbers = [1, 2, 3, 4, 5] 
print(numbers[0]) # 1 
print(numbers[2]) # 3 
print(numbers[-3]) # 3 
numbers[0] = 125 # изменяем первый элемент списка 
print(numbers[0]) # 125

1
3
3
125

In [ ]:
colors = ["yellow", "blue", "black", "pink", "grey", "red", "green"]
print(colors[2:4]) # ["black", "pink"]
print(colors[:5])  # ['yellow', 'blue', 'black', 'pink', 'grey']
print(colors[4:-1]) # ['grey', 'red']
print(colors[::-1]) # ['green', 'red', 'grey', 'pink', 'black', 'blue', 'yellow']
print(colors[1::2]) # ['blue', 'pink', 'red']

['black', 'pink']
['yellow', 'blue', 'black', 'pink', 'grey']
['grey', 'red']
['green', 'red', 'grey', 'pink', 'black', 'blue', 'yellow']
['blue', 'pink', 'red']

Если необходимо создать список, в котором повторяется одно и то же значение несколько раз, то можно использовать символ звездочки *. Например, определим список из шести пятерок:

In [ ]:
numbers = [5] * 6 # [5, 5, 5, 5, 5, 5] 
print(numbers)

[5, 5, 5, 5, 5, 5]

Кроме того, если нам необходим последовательный список чисел, то для его создания удобно использовать функцию range, которая имеет три формы:

● range(end): создается набор чисел от 0 до числа end 

● range(start, end): создается набор чисел от числа start до числа end 

● range(start, end, step): создается набор чисел от числа start до числа end с шагом step

In [ ]:
numbers = list(range(10)) 
print(numbers) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
numbers = list(range(2, 10)) 
print(numbers) # [2, 3, 4, 5, 6, 7, 8, 9] 
numbers = list(range(10, 2, -2)) 
print(numbers) # [10, 8, 6, 4]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[10, 8, 6, 4]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
numbers2 = list(range(1, 10)) 
print(numbers)
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

Список необязательно должен содержать только однотипные объекты. Мы можем поместить в один и тот же список одновременно строки, числа, объекты других типов данных:

In [ ]:
objects = [1, 4.2, "Hello", True] 
objects

[1, 4.2, 'Hello', True]

**Перебор элементов** 

Для перебора элементов можно использовать как цикл for, так и цикл while. 

Перебор с помощью цикла for:

In [ ]:
companies = ["Microsoft", "Google", "Oracle", "Apple"] 
for item in companies: 
  print(item)

Microsoft
Google
Oracle
Apple

In [ ]:
companies = ["Microsoft", "Google", "Oracle", "Apple"] 
i = 0 
while i < len(companies): 
  print(companies[i]) 
  i += 1

Microsoft
Google
Oracle
Apple

**Сравнение списков**

Два списка считаются равными, если они содержат один и тот же набор элементов:

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
numbers2 = list(range(1,10)) 
numbers == numbers2

True

**Методы и функции по работе со списками** 

Для управления элементами списки имеют целый ряд методов. Некоторые из них: 

● append(item): добавляет элемент item в конец списка 

● insert(index, item): добавляет элемент item в список по индексу index 

● remove(item): удаляет элемент item. Удаляется только первое вхождение элемента. Если элемент не найден, генерирует исключение ValueError 

● clear(): удаление всех элементов из списка 

● index(item): возвращает индекс элемента item. Если элемент не найден, генерирует исключение ValueError 

● pop([index]): удаляет и возвращает элемент по индексу index. Если индекс не передан, то просто удаляет последний элемент. 

● count(item): возвращает количество вхождений элемента item в список 

● sort([key]): сортирует элементы. По умолчанию сортирует по возрастанию. Но с помощью параметра key мы можем передать функцию сортировки. 

● reverse(): расставляет все элементы в списке в обратном порядке 

Кроме того, Python предоставляет ряд встроенных функций для работы со списками: 

● len(list): возвращает длину списка 

● sorted(list, [key]): возвращает отсортированный список 

● min(list): возвращает наименьший элемент списка 

● max(list): возвращает наибольший элемент списка

In [ ]:
# append()
users = ["Tom", "Bob"] 
# добавляем в конец списка 
users.append("Alice")
users

['Tom', 'Bob', 'Alice']

In [ ]:
# insert()
# добавляем на вторую позицию 
users.insert(1, "Bill")
users

['Tom', 'Bill', 'Bob', 'Alice']

In [ ]:
# index()
# получаем индекс элемента 
i = users.index("Tom") 
i

0

In [ ]:
# pop()
# удаляем по этому индексу 
removed_item = users.pop(i) # ["Bill", "Bob", "Alice"] 
print(users)
print(removed_item)

['Bill', 'Bob', 'Alice']
Tom

In [ ]:
nums = [33, 46, 1, 9, 78]
nums.pop() # default pop(-1)
nums

[33, 46, 1, 9]

In [ ]:
# remove()
# удаляем последний элемент 
users.remove("Alice")
print(users)

['Bill', 'Bob']

In [ ]:
# clear()
# удаляем все элементы 
users.clear() 
users

[]

In [ ]:
# count()
users = ["Tom", "Bob", "Alice", "Tom", "Bill", "Tom"] 
users.count("Tom")

3

In [ ]:
# sort()
users = ["Tom", "Bob", "Alice", "Samantha", "Bill"] 
users.sort() # reverse=True
print(users)

['Alice', 'Bill', 'Bob', 'Samantha', 'Tom']

In [ ]:
users.sort(key=len)
users

['Bob', 'Tom', 'Bill', 'Alice', 'Samantha']

In [ ]:
# min(), max()
numbers = [9, 21, 12, 1, 3, 15, 18] 
print(min(numbers)) # 1 
print(max(numbers)) # 21

1
21

In [ ]:
# copy()
users1 = ["Tom", "Bob", "Alice"] 
users2 = users1 
users2.append("Sam") 
# users1 и users2 указывают на один и тот же список 
print(users1) # ["Tom", "Bob", "Alice", "Sam"] 
print(users2) # ["Tom", "Bob", "Alice", "Sam"]

['Tom', 'Bob', 'Alice', 'Sam']
['Tom', 'Bob', 'Alice', 'Sam']

In [ ]:
users1 = ["Tom", "Bob", "Alice"] 
users2 = users1.copy() 
users2.append("Sam") 
print(users1)
print(users2)

['Tom', 'Bob', 'Alice']
['Tom', 'Bob', 'Alice', 'Sam']

In [ ]:
# extend()
colors1 = ["blue", 'green', 'purple']
colors2 = ["yellow", 'red']
colors1.extend(colors2)
colors1

colors1 = ["blue", 'green', 'purple']
colors2 = ["yellow", 'red']
colors1.extend(colors2)
colors1
colors2.clear()
print(colors1)
print(colors2)

['blue', 'green', 'purple', 'yellow', 'red']
[]

In [ ]:
colors2

['yellow', 'red']

In [ ]:
# +
colors1 = ["blue", 'green', 'purple']
colors2 = ["yellow", 'red']
a = colors1 + colors2

colors2.clear()
print(colors1)
print(colors2)
print(a)

['blue', 'green', 'purple']
[]
['blue', 'green', 'purple', 'yellow', 'red']

In [ ]:
# nested lists
users = [ 
  ["Tom", 29], 
  ["Alice", 33], 
  ["Bob", 27] 
] 
print(users[0]) # ["Tom", 29] 
print(users[0][0]) # Tom 
print(users[0][1]) # 29

['Tom', 29]
Tom
29

### Let's do it together!

In [ ]:
# У вас есть список, внутри которого есть вложенные списки с именем студента и его баллом за тест:
students = [
    ["Sandy", 89],
    ["Karen", 70],
    ["John", 99],
    ["Ron", 56],
    ["Harry", 85]
]

In [ ]:
# Добавьте в этот список еще одну пару ["Scarlett", 100]
# PUT YOUR CODE HERE

In [ ]:
# Оказалось, что Harry получил 6 экстра баллов. Исправьте его балл
# PUT YOUR CODE HERE

In [ ]:
# Студентка Karen больше не числится. Удалите ее
# PUT YOUR CODE HERE